.profilavatar {
    z-index: 1;
    margin-top: -30px;
}

.avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 15px;
    border: solid 3px white;
}

.avatar img {
    max-width: 100px;
    max-height: auto;
}

.username {
    margin-left: 15px;
    margin-top: 50px;
    color: black; 

}

// .jumbotron {
//     // background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg');
//     height: 100%;
//     background-size: cover;
//   }

.coverimage {
    height: 300px;  
    overflow: hidden;
    z-index: 0;
}
  .coverimage img {

    width: 100%;     
  }


  .update a {
    color: white;
  }

  .update {
      margin-top: 60px;
  }

    .btn {
      margin: 5px;
  }

