.avatar img {
    max-width: 70px;
}

.username {
    margin-left: 15px;
    color: black; 
}

.jumbotron {
    background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg');
    background-size: cover;
    height: 100%;
  }